.idea

# Terraform and terragrunt
*.tfstate
*.tfstate.backup
*.tfplan
.terragrunt-cache/
.terraform/

#
# Configs
#
config.yaml
.circleci/.configs
# Low level config files
secrets.yaml
global.yaml

account.tfvars
region.tfvars
group.tfvars
monitor/aws/account.hcl
region.hcl
# For group vars
terraform.tfvars

ansible_inventory.tpl
# Cookiecutter
!{{cookiecutter.deployment_name}}/*

# Python
*.pyc
Pipfile
Pipfile.lock

# Other
id_rsa_test*

# meta
packer/
#ansible/
modules/

/tmp
_save

monitor/demo/cachet/ansible/roles/cachet/templates/.env.j2
monitor/aws/cachet/ansible/roles/cachet/templates/.env.j2
.env
.env.*
!.env.defaults