version: "3"

services:
  nginx:
    image: nginx:1.16.1-alpine
    ports:
      - "80:80"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf
    networks:
      - web
    depends_on:
      - checkup
      - cachet

  checkup:
    build:
      context: Dockerfile.checkup
    image: treemo/checkup
    container_name: checkup
    volumes:
      - ./config/checkup.json:/checkup.json:ro
      - ./config/config.js:/var/www/localhost/htdocs/js/config.js:ro
      - ./data:/var/www/localhost/htdocs/data
    environment:
      - CHECK_INTERVALl=5m
    cpu_shares: 73
    cpu_quota: 50000
    cpuset: 0,0
    mem_limit: 300m
    memswap_limit: 300m
    ports:
      - "80"


  cachet:
    build:
      context: Dockerfile.checkup
      args:
        - cachet_ver=2.4
    ports:
      - "8000"
    environment:
      - DB_DRIVER=pgsql
      - DB_HOST={{ db_host | default('postgres') }}
      - DB_PORT=5432
      - DB_DATABASE={{ db_database | default('postgres') }}
      - DB_USERNAME={{ db_username | default('postgres') }}
      - DB_PASSWORD={{ db_password | default('postgres') }}
      - DB_PREFIX=chq_

      - APP_DEBUG=false
      - DEBUG=false
    restart: on-failure

{% if db_host is not defined %}

    links:
      - postgres:postgres
    depends_on:
      - postgres

  postgres:
    image: postgres:9.5
    volumes:
      - /var/lib/postgresql/data
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
    restart: always

{% endif %}

networks:
  web:
    driver: bridge
